@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

body {
    background: url('../img/dark-mountains.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.light-color {
	color: #e3e2de;
}

.great-name {
	font-family: "Bree Serif", sans-serif;
}

.contact {
	text-align: left;
	width: 200px;
	margin-left: 0;
	margin-right: 0;
}

.contact a {
	color: #e3e2de;
}

.message {
	font-family: 'Slabo 27px', serif;
	letter-spacing: 1px;
	margin-top: 10vh;
	padding: 0 50px;
}

.copyright {
	margin-top: 10vh;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: .8em;
	letter-spacing: 1px;
}
